html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.3s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}

.debug [data-starport-craft] {
  background: #0805;
}
.debug [data-starport-proxy]:not([data-starport-landed]) {
  background: #8005;
}
